[defaults]
timeout = 30
remote_user = ubuntu
private_key_file = ivolve1.pem
host_key_checking = False

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
